button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;

  /* Not removing outline in terms of accessibility */
  }
}

.SearchBox {
  margin: auto;
  display: flex;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  justify-content: center;
  background-color: #25BD59;
  background: linear-gradient(to right, #29e068, #25bd59);
}

.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  }

  &.active {
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.active #searchInput {
    padding: 24px 16px 8px 16px;
  }

  &.active #searchInput+label {
    top: 4px;
    opacity: 1;
    color: #512da8;
  }
}

#searchInput+label {
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s all ease-in-out;
}

#searchInput {
  width: 100%;
  height: 56px;
  position: relative;
  box-sizing: border-box;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
  -webkit-appearance: none;


}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}


.close {
  position: absolute;
  right: 5px;
  top: 11px;
  width: 36px;
  height: 36px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 17px;
  top: 0;
  content: ' ';
  height: 36px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}


.spinner {
  opacity: 1;
  position: absolute;
  right: 70px;
  top: 50%;
  transition: opacity linear 0.1s;

  &::before {
    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: #25bd59;
    border-radius: 50%;
    content: "";
    height: 30px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 30px;
    will-change: transform;
  }
}

.listContainer {
  position: absolute;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 300px;
  overflow-y: scroll;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding: 10px;

      &:hover {
        background: rgba(0,0,0,.04);
      }
    }
  }
}


